.MainForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em;
    max-width: 1600px;
    gap: 0.25em;
}

.MainForm fieldset {
    padding-bottom: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.25em;
}

.MainForm ul {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.MainForm fieldset li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.25em;
}

.MainForm fieldset .inputArea {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.25em
}

.MainForm input {
    border: 1px solid black;
}

.MainForm legend {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 1.2em;
    width: 100%;
    padding-bottom: 0.5em;
}
